body {
    background: #2c2f33;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    display: block
}

#rifle {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #373c41;
    border: solid 2px #4e565d;
}