body {
    background: #2c2f33;
}


canvas {
    position: absolute;
    top: 0px;
    left: 0px;;
    z-index: -10;
}

#name-inp {
    position: absolute;
    display: block;
    margin-top: 2%;
    margin-left: 3%;
    height: 35px;
    width: 10%;
    text-align: center;
    border-radius: 50px;
    border: none;
    background-color: #2c2f33;
    color: white;
    outline: none;
}


#weapon {
    position: absolute;
    margin-top: 0;
    margin-left: 1%;
    padding: 10px;
    background-color: #373c41;
    border: solid 6px #4e565d;
    transition: 300ms all ease-in-out;
}

#weapon:hover {
    border: solid 6px #657079;
}

#option-button1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 17%;
    border: solid 5px #4f555c;
}

#option-button2 {
    margin-top: 10px;
    margin-left: 22%;
    border: solid 5px #4f555c;
}