body {
    background: #2c2f33;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#name-inp {
    position: absolute;
    display: block;
    margin-top: 2%;
    margin-left: 3%;
}

#rifle {
    position: absolute;
    margin-top: 5%;
    margin-left: 2%;
    padding: 10px;
    background-color: #373c41;
    border: solid 2px #4e565d;
}